{{!-- <div>
    <div>
        {{#with navigation}}
        {{#each links}}
        <a href="{{href}}" class="btn btn-link">{{text}}</a>
        {{/each}}
        {{#with button}}
        <a href="{{href}}" class="btn btn-primary">{{text}}</a>
        {{/with}}
        {{/with}}
        <br>
        <hr>
        {{#with header}}
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        {{#with button}}
        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
        {{/with}}
        {{/with}}
        <br>
        <hr>
        {{#with city}}
        <h2>{{title}}</h2>
        <br>
        <div class="row g-5">
            {{#each cards}}
            {{#with picture}}
            <div class="card col-6">
                <img class="card-img-top" src="{{src}}" alt="{{alt}}">
                {{/with}}
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p>{{description}}</p>
                    {{#with button}}
                    <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    {{/with}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <hr>
        {{#with winner}}
        <h2>{{title}}</h2>

        {{#with table}}
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        name
                    </th>
                    <th>
                        surname
                    </th>
                    <th>
                        nickname
                    </th>
                </tr>
            </thead>
            {{#each user}}
            <tbody>
                <tr>
                    <th>
                        {{place}}
                    </th>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{surname}}
                    </td>
                    <td>
                        {{nickname}}
                    </td>
                </tr>
            </tbody>
            {{/each}}
        </table>
        {{/with}}
        {{/with}}
        <br>
        <hr>
        {{#with gallery}}
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-4 g-3">
                <div class="card">
                    <div class="card-header">
                        <div>{{name}}</div>
                    </div>
                    <ul class="list-group list-group-flush ">
                        {{#each items}}
                        <li class="list-group-item">{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
        <br>
        <hr>
        <div class="row g-5">
            {{#with relaxion}}
            <p class="display-3">{{title}}</p>
            {{#each cards}}

            <div class="card text-bg-secondary col-6 ">
                <div class="card-header">
                    <p>{{header}}</p>
                </div>

                <h5 class="card-title">{{title}}</h5>
                <p>{{description}}</p>

            </div>

            {{/each}}
            {{/with}}
        </div>
        <br>
        <hr>

        <div class="row g-5">
            {{#with rest}}
            {{#each cards}}
            <div class="col-6">
                <div class="card ">
                    <div class="card-header">
                        <div class="text-center">{{header}}</div>
                    </div>
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item">
                            <h5 class="text-center">{{title}}</h5>
                            <div class="text-center">{{description}}</div>
                            <br>
                            <div class="text-center">
                                <button class="btn btn-primary btn-bg">{{button}}</button>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <div class="text-center">{{footer}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
        <br>
        <hr>
        <div class="row g-5">
            {{#with proposition}}
            <p class="display-2">{{title}}</p>
            {{#each card}}
            <div class="col-6 ">
                <div class="card text-bg-warning">
                    <div class="card-header">
                        <div>{{header}}</div>
                    </div>
                    <div class="text-bg-warning">

                        <h5>{{title}}</h5>
                        <div>{{description}}</div>

                    </div>
                </div>
            </div>
            {{/each}}
            {{/with}}
        </div>
        <br>
        <hr>

        {{#with footer}}
        <h5>{{title}}</h5>
        <div class="col-12 ">
            <div class="row g-3">
                {{#each navigation}}
                <div class="col-4 ">
                    <a href="{{href}}" class="btn btn-link">{{text}}</a>
                </div>
                {{/each}}
            </div>
            <br>
            <div class="row g-3">
                {{#each socialMedia}}
                <div class="col-4 ">
                    <a href="{{link}}" class="btn btn-outline-dark">{{name}}</a>
                </div>
                {{/each}}
            </div>
            <br>
            <div class="row g-3">
                {{#each partners}}
                <div class="col-4 ">
                    <a href="{{link}}" class="btn btn-outline-info">{{name}}</a>
                </div>
                {{/each}}
            </div>
        </div>
        {{/with}}



    </div>
</div> --}}

<main>
    <div>
        {{#with navigation}}
        <nav class="nav">
            {{#each links}}
            <a class="nav-link" href="{{href}}">{{text}}</a>
            {{/each}}
            <button type="button" class="btn btn-primary"
                onclick="window.location.href=`{{button.href}}`">{{button.text}}
            </button>
        </nav>
        {{/with}}
    </div>
    <br />
    <hr>
    <div>
        {{#with header}}
        <h1>{{title}}</h1>
        <p class="text-muted">{{description}}</p>
        <button type="button" class="btn btn-primary" target="_blank"
            onclick="window.location.href=`{{button.link}}`">{{button.text}}
        </button>
        {{/with}}
    </div>

    <hr>

    <section>
        {{#with city}}
        <h2>{{title}}</h2>
        <div class="row">
            {{#each cards}}
            <div class="col-5 g-3">
                <div class="card">
                    {{#with picture}}
                    <img src="{{src}}" alt="alt" class="card-img-top">
                    {{/with}}
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p>{{description}}</p>
                        {{#with button}}
                        <a href="{{href}}">
                            <button type="button" class="btn btn-primary">{{text}}</button>
                        </a>
                        {{/with}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>
    <section>
        {{#with winner}}
        <h2>{{title}}</h2>
        <table class="table">
            {{#with table}}
            <thead>
                <tr>
                    {{#each head}}
                    <th>{{this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each user}}
                <tr>
                    <td>
                        {{place}}
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{surname}}
                    </td>
                    <td>
                        {{nickname}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
            {{/with}}
        </table>
        {{/with}}
    </section>
    <hr>
    <br>
    <section>
        {{#with gallery}}
        <h2>{{title}}</h2>

        <div class="row">
            {{#each cards}}
            <div class="col-4 g-2">
                <div class="card">
                    <div>
                        <div class="card-header">
                            <h6>{{name}}</h6>
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each items}}
                            <li class="list-group-item">
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>
    <section>
        {{#with relaxion}}
        <div class="display-3">{{title}}</div>
        <div class="row">
            {{#each cards}}
            <div class="col-5 g-4">
                <div class="card text-bg-secondary">
                    <div class="card-header">
                        {{header}}
                    </div>
                    <div class="card-body">
                        <h6>{{title}}</h6>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>
    <section>
        {{#with rest}}
        <div class="row">
            {{#each cards}}
            <div class="col-6 g-2">
                <div class="card text-center">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p>{{description}}</p>
                        <button type="button" class="btn btn-primary">{{button}}</button>
                    </div>
                    <div class="card-footer">{{footer}}</div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>
    <section>
        {{#with proposition}}
        <div class="display-2">{{title}}</div>
        <br>
        <div class="row">
            {{#each card}}
            <div class="col-5 g-2">
                <div class="card text-bg-warning text-light">
                    <div class="card-header">{{header}}</div>
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p>{{description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr>
    <br>
    {{#with footer}}
    <h5>{{title}}</h5>
    <div class="row">

        <div class="col-3 list-group">
            {{#each navigation}}
            <a href="{{href}}" class="list-item" target="_blank">
                <button class="btn btn-link">{{text}}</button>
            </a>
            <br>
            {{/each}}
        </div>

        <div class="col-3 list-group">
            {{#each socialMedia}}
            <a href="{{link}}" class="list-item" target="_blank">
                <button class="btn btn-outline-dark">{{name}}</button>
            </a>
            <br>
            {{/each}}
        </div>

        <div class="col-6 list-group">
            {{#each partners}}
            <a href="{{link}}" class="list-item" target="_blank">
                <button class="btn btn-outline-info">{{name}}</button>
            </a>
            <br>
            {{/each}}
        </div>

    </div>
    {{/with}}
</main>